@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap");

:root {
  --dark: #1e2329;
  --light: #fafafa;
  --success: #03a66d;
  --danger: #cf304a;
}

* {
  font-family: "Open Sans", sans-serif;
}

.name,
.loading-text {
  color: var(--light);
  font-size: 16px;
  font-weight: 600;
}

.fullname {
  color: #b6b6b6;
  font-size: 14px;
  margin-top: 3px;
  font-weight: 500;
}

.item {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  border-bottom: 1px solid #949191;
}

.item:first-child {
  padding-top: 0px;
}

.item:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}

.container {
  background-color: var(--dark);
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 14px;
}

.price-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price {
  font-weight: 500;
  color: var(--light);
  font-size: 16px;
}

.price-change {
  margin-top: 3px;
}

.price-change.danger {
  color: var(--danger);
}

.price-change.success {
  color: var(--success);
}

.card {
  Margin:0 auto;
  background:#ffffff;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
  float:none;
  margin:0 auto;
  padding:0;
  text-align:center;
  vertical-align:top;
  width:560px;
  text-align: center;
}

.card.tr1 {
  padding:0;
  text-align:left;
  vertical-align:top
}

.car.td1 {
  Margin:0;
  border-collapse:collapse!important;
  color:#353738;
  font-family:Tahoma,Geneva,sans-serif;
  font-size:14px;
  font-weight:normal;
  line-height:24px;
  margin:0;
  padding:0;
  text-align:left;
  vertical-align:top;
  word-wrap:break-word" 
}

.car.td2 {
  width:270px;
  max-width:512px;
  background-repeat:no-repeat;
  background-size:cover;
  background:#070707;
  background-size:cover;
  background-position:center center;
  font-family:Tahoma,Geneva,sans-serif;
  font-size:14px;font-weight:normal;
  line-height:24px;
  margin:0;
  padding:0;
  padding-bottom:0px;
  padding-top:0px;
  padding-right:24px;
  padding-left:24px 
}

.car.td2.p {
  Margin:0;
  Margin-bottom:0;
  color:#fff;
  display:block;
  font-family:Tahoma,Geneva,sans-serif;
  font-size:11px;
  font-weight:normal;
  line-height:15px;
  margin:0;
  padding:0;
  text-align:left;
  padding-bottom:8px;
  padding-left:0;
  background-color:#070707;
}

.card.table1 {
  color:#fff;
  font-family:Tahoma,Geneva,sans-serif;
  font-size:11px;
  font-weight:normal;
  line-height:24px;
  margin:0;
  padding:0;
  text-align:left;
}

.car.td3 {
  font-size:40px;
  padding:0;
  margin:0;
  vertical-align:text-top
}

.span1 {
  font-size:26px;
  padding:0;
  margin:0
}

.car.td4 {
  padding-left:8px;
  vertical-align:middle
}

.card.table2 {
  color:#fff;
  font-family:Tahoma,Geneva,sans-serif;
  font-size:11px;
  font-weight:normal;
  line-height:24px;
  margin:0;
  padding:0
}

.card.td5 {
  padding:0;
  margin:0;
  font-size:10px;
  line-height:12px;
  padding:0;
  text-align:left;
  line-height:1
}

.card.td6 {
  padding:0;
  margin:0;
  font-size:10px;
  line-height:12px;
  padding:0;
  text-align:left;
  line-height:1
}

.card.p1 {
  Margin:0;
  Margin-bottom:0;
  color:#fff;
  display:block;
  font-family:Tahoma,Geneva,sans-serif;
  font-size:11px;
  font-weight:normal;
  line-height:15px;
  margin:0;
  margin-bottom:0;
  padding:0;
  text-align:left;
  color:#fff;
  font-size:11px;
  letter-spacing:1px;
  padding-top:8px;
  padding-left:0
}


